	body {
		background-image: url(../images/cars_logo.png);
		width: 100%;
	    background-repeat: no-repeat;
	    background-size: cover;		
	}		
	#loggeduser {
		color: white;
		font-size: 20px;
		padding-top: 10px;
	}
	.navbottom {
		color: white;
		text-align: center;
		position: relative;
		left: 800px;
		top: 15px;
	}	
	#checkout {
		opacity: 0.8;
		margin: auto;
		width: 60%;		  
		text-align: center;
		position: relative;
		left: 150px;
		top: 100px;
	}